{{- define "sonic_theme_paper_mod/archives" -}}
<!DOCTYPE html>
<html lang="zh" dir="auto">

<head>
<title>Archives - {{ .blog_title }}</title>
{{ template "sonic_theme_paper_mod/module/head" .}}
</head>

<body class="list" id="top">

{{template "sonic_theme_paper_mod/module/header" .}}

<main class="main"> 

<header class="page-header">
  <h1>
    Archive
  </h1>
</header>

<div class="archive-posts">
    {{range $archive:=.archives}}
    {{range $post:=$archive.Posts}}
      <div class="archive-entry">
        <h3 class="archive-entry-title">{{$post.Title}}
        </h3>
        <div class="archive-meta"><span>{{unix_milli_time_format "2006-01-02 15:04:05" $post.CreateTime}}</span>  ·  {{ $post.WordCount }} words </div>
        <a class="entry-link" href="{{$post.FullPath}}"></a>
      </div>
    {{end}}
    {{end}}
</div>

<footer class="page-footer">
{{if (gt .posts.Pages 1)}}
{{$pagination:=(archivesPagination .posts.PageNum .posts.Pages 3)}}
  {{if $pagination.HasPrev}}
    <nav class="pagination">
        <a class="prev" href="{{$pagination.PrevPageFullPath}}">
          « Prev 
        </a>
      </nav>
  {{end}}
  {{if $pagination.HasNext}}
  <nav class="pagination">
    <a class="next" href="{{$pagination.NextPageFullPath}}">
        Next » 
    </a>
  </nav>
  {{end}}
{{end}}
</footer>
</main>
    
{{template "sonic_theme_paper_mod/module/footer" .}}

</body>

</html>
{{end}}